@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Outfit:wght@400;700&display=swap');
:root {
    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;
  
    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 221, 100%, 96%;
    --clr-neutral-hsl-300: 241, 100%, 89%;
    --clr-neutral-hsl-700: 224, 30%, 27%;
  
    --clr-neutral-100: hsl(var(--clr-neutral-hsl-100));
    --clr-neutral-200: hsl(var(--clr-neutral-hsl-200));
    --clr-neutral-300: hsl(var(--clr-neutral-hsl-300));
    --clr-neutral-700: hsl(var(--clr-neutral-hsl-700));
  
  
    --clr-primary-400: hsl(var(--clr-primary-hsl-400));
    --clr-primary-500: hsla(var(--clr-primary-hsl-500));
    --clr-secondary-400: hsl(var(--clr-secondary-hsl-400));
  
    --gradient-primary: linear-gradient(
        var(--clr-primary-400), 
        var(--clr-secondary-400));
  
    --gradient-to-transparent: linear-gradient(
        var(--clr-primary-500),
        hsl(var(--clr-secondary-hsl-500), 0));
  
    --clr-accent-1: 0, 100%, 67%;
    --clr-accent-2: 39, 100%, 56%;
    --clr-accent-3: 166, 100%, 37%;
    --clr-accent-4: 234, 85%, 45%;
  
    --font-family-default: 'Hanken Grotesk', Times , sans-serif;
  
    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;
  
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 5rem;

    --bordr-radius: 30px
  }

  /* Utilities */

  .flow-content > * + *{
    margin-top: 1.1rem;
  }

  .flex {
    display: flex;
    gap: .6rem;
    align-items: center;
  }

  .bold {
    font-weight: bold;
  }

  html {
    /* font-size: 62.5%; */
    font-family: var(--font-family-default);
  }
  
  * {
    font: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-size: 1.1rem;
    display: grid;
    place-content: center;
    min-height: 100vh;
    color: #fff;

}

h1 {
    font-size: 1.489rem;
}

/*Layout*/

.container {
    display: grid;
    overflow: hidden;
}


.result-box {
    border-radius: 0 0 var(--bordr-radius) var(--bordr-radius);
    text-align: center;
    background: var(--gradient-primary);
    padding: 1.962rem;
}

.result-box h1:nth-of-type(2) {
    font-size: 2.42rem;
}
.summary-box {
    box-shadow: 15px 18px 23px -16px rgba(31,52,94,0.75);
    padding: 1.962rem 2.5rem;
    color: black;
}

.section-title {
    color: hsl(var(--clr-neutral-hsl-100), .7);
  }

.button {
    width: 100%;
    color: var(--clr-neutral-100); 
    border: 0;
    border-radius: var(--bordr-radius);
    background: var(--clr-neutral-700);
    padding: 1rem 3rem;
    cursor: pointer;
}

.button:hover {
    background: var(--gradient-primary);
}

.main_score {
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: var(--gradient-to-transparent);
    max-width: 12.5rem;
    margin-inline: auto;

}

.main_score > div {
    margin: auto;
    flex-direction: column;
    gap: 0;
}
.highlighted-figure {
    font-size: 5rem;
}

.result-description {
    padding-inline: 1.3rem;
}

.overall-figure , .result-description {
    opacity: .6;
}

.summary-score {
    font-weight: var(--fw-black);
    color: hsl(var(--clr-neutral-hsl-700), .5);
}
.summary-score span {
    color: var(--clr-neutral-700);
}
.score-box {
    border-radius: 8px;
    padding: 1.15rem .7rem;
    justify-content: space-between;
}
.accent--1 {
    background-color: hsl(var(--clr-accent-1) , .1);
    stroke: hsl(var(--clr-accent-1));
    color: hsl(var(--clr-accent-1));
}
.accent--2 {
    background-color: hsl(var(--clr-accent-2) , .1);
    stroke: hsl(var(--clr-accent-2));
    color:hsl(var(--clr-accent-2)) ;
    
}
.accent--3 {
    background-color: hsl(var(--clr-accent-3) , .1);
    stroke: hsl(var(--clr-accent-3));
    color: hsl(var(--clr-accent-3));


}
.accent--4 {
    background-color: hsl(var(--clr-accent-4) , .1);
    stroke: hsl(var(--clr-accent-4));
    color:hsl(var(--clr-accent-4)) ;
}



@media  screen and (min-width: 600px) {
    .container {
        max-width: 43.75rem;
        grid-template-columns: 1fr 1fr;
        
        box-shadow: .5rem 1rem 3rem hsl(var(--clr-neutral-hsl-700), .2);
    }

    .result-box {
        border-radius: var(--bordr-radius);
    }
}
